<div class="publications">
  <h4> 🤖 RL for Robotics </h4>
  {% bibliography --group_by none --query @*[selected=true, topic=1]* %}
  <h4> 📘 Curriculum Learning for RL </h4>
  {% bibliography --group_by none --query @*[selected=true, topic=2]* %}
  <h4> 💭 LLMs Reasoning </h4>
  {% bibliography --group_by none --query @*[selected=true, topic=3]* %}
</div>
